
<!DOCTYPE html>
<html>
<head>
 <style type="text/css">
 #maps-canvas {
  height: 500px;
 }
</style>
<title></title>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script type="text/javascript"
        src="http://maps.googleapis.com/maps/api/js?senor=false">
        </script>

<script type="text/javascript">

    var map;

    function initialise(location)
    {
      console.log(location);
    }
    
    $(document).ready(function()
    {
       navigator.geolocation.getCurrentPosition(initialise);
    });
    </script>
    </head>
    <body>

    <div id="map-canvas"></div>
</body>
</html>