<!DOCTYPE html>
<HTML>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/resource/common/iu.css">
    <link rel="stylesheet" type="text/css" href="/static/resource/css/pages/final.css">
    <link rel="stylesheet" type="text/css" href="/static/resource/css/compositions/header.css">
    <link href='https://fonts.googleapis.com/earlyaccess/jejuhallasan.css' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="//cdn.iueditor.org/js/iueditor-2.1.js" defer></script>
    <!--[if lt IE 9]>
      <script>
        document.createElement("header" );
        document.createElement("footer" );
        document.createElement("section");
        document.createElement("nav"    );
        document.createElement("article");
      </script>
      <noscript>
        <strong>Warning !</strong>
        Because your browser does not support HTML5, some elements are simulated using JScript.
        Unfortunately your browser has disabled scripting. Please enable it in order to display this page.
      </noscript>
    <![endif]-->
  </head>
  <body>
    <div class="iu-page final">
      <header class="iu-header header">
        {% include './compositions/header.html' %}
      </header>
      <section class="iu-page-content page-content">
        <section class="iu-section section">
          <div class="iu-center-box center-box-14">
            <div class="iu-center-box center-box-15">
              <div class="iu-box box-16"></div>
              <div class="iu-box box"></div>
              <div class="iu-text text-17">
                <p>유럽에 취하다! 서유럽 4개국 핵심일주</p>
              </div>
              <div class="iu-box box-18">
                <div class="iu-text text-21">
                  <p>설명</p>
                </div>
              </div>
              <div class="iu-text text-33">
                <p>여유와 낭만이 함께하는 런던 &amp; 파리 &amp; 로마 &amp; 바르셀로나&nbsp;</p>
                <p>4개국 투어를 저희 La Pista 가 제안합니다.</p>
              </div>
              <div class="iu-text text-35">
                <p>12일</p>
              </div>
              <div class="iu-box box-48">
                <div class="iu-text text-48">
                  <p>&nbsp;<span style="font-size: 21px;">추천 기간</span></p>
                </div>
              </div>
              <div class="iu-box box-49">
                <div class="iu-text text-50">
                  <p><span style="font-size: 21px;">추천 도시&nbsp;</span></p>
                </div>
              </div>
              <div class="iu-text text-26" style="font-size:21px; height:30px; left:260px; top:299px; width:300px;}">
                <p>런던, 파리, 로마, 바르셀로나</p>
              </div>
              <div class="iu-tabview tabview" data-iu-show-animation="transition.slideDownIn">
                <div class="iu-tab-header tab-header">
                  <div class="iu-tab-header-item tab-header-item">
                    <div class="iu-tab-header-default-item tab-header-default-item">
                      <div class="iu-cell cell">
                        <p><span style="color: #000000;">파리 (3일)</span></p>
                      </div>
                    </div>
                    <div class="iu-tab-header-active-item tab-header-active-item">
                      <div class="iu-cell cell-42">
                        <p>파리 (3일)</p>
                      </div>
                    </div>
                  </div>
                  <div class="iu-tab-header-item tab-header-item-31">
                    <div class="iu-tab-header-default-item tab-header-default-item-35">
                      <div class="iu-cell cell-39">
                        <p><span style="color: #000000;">런던 (3일)</span></p>
                      </div>
                    </div>
                    <div class="iu-tab-header-active-item tab-header-active-item-41">
                      <div class="iu-cell cell-43">
                        <p>런던 (3일)</p>
                      </div>
                    </div>
                  </div>
                  <div class="iu-tab-header-item tab-header-item-44">
                    <div class="iu-tab-header-default-item tab-header-default-item-45">
                      <div class="iu-cell cell-47">
                        <p><span style="color: #000000;">로마 (3일)</span></p>
                      </div>
                    </div>
                    <div class="iu-tab-header-active-item tab-header-active-item-46">
                      <div class="iu-cell cell-48">
                        <p>로마 (3일)</p>
                      </div>
                    </div>
                  </div>
                  <div class="iu-tab-header-item tab-header-item-70">
                    <div class="iu-tab-header-default-item tab-header-default-item-71">
                      <div class="iu-cell cell-73">
                        <p><span style="color: #000000;">바르셀로나 (3일)</span></p>
                      </div>
                    </div>
                    <div class="iu-tab-header-active-item tab-header-active-item-72">
                      <div class="iu-cell cell-74">
                        <p>바르셀로나 (3일)</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="iu-tab-content tab-content">
                  <div class="iu-tab-content-item tab-content-item">
                    <div class="iu-floating-image floating-image-50"></div>
                    <div class="iu-floating-image floating-image-51"></div>
                    <div class="iu-floating-image floating-image-52"></div>
                    <div class="iu-html html">
                      <div style="text-align:center;"> <에펠탑> </div>
                    </div>
                    <div class="iu-html html-54">
                      <div style="text-align:center;"> <몽마르뜨 언덕> </div>
                    </div>
                    <div class="iu-html html-55">
                      <div style="text-align:center;"> <노트르담 성당> </div>
                    </div>
                  </div>
                  <div class="iu-tab-content-item tab-content-item-33">
                    <div class="iu-floating-image floating-image-56"></div>
                    <div class="iu-floating-image floating-image-57"></div>
                    <div class="iu-floating-image floating-image-58"></div>
                    <div class="iu-html html-59">
                      <div style="text-align:center;"> <타워 브릿지> </div>
                    </div>
                    <div class="iu-html html-60">
                      <div style="text-align:center;"> <세인트 폴 대성당> </div>
                    </div>
                    <div class="iu-html html-61">
                      <div style="text-align:center;"> <빅벤> </div>
                    </div>
                  </div>
                  <div class="iu-tab-content-item tab-content-item-49">
                    <div class="iu-floating-image floating-image-61"></div>
                    <div class="iu-floating-image floating-image-62"></div>
                    <div class="iu-floating-image floating-image-63"></div>
                    <div class="iu-html html-64">
                      <div style="text-align:center;"> <콜로세움> </div>
                    </div>
                    <div class="iu-html html-65">
                      <div style="text-align:center;"> <팔라티노 언덕> </div>
                    </div>
                    <div class="iu-html html-66">
                      <div style="text-align:center;"> <포로로마노> </div>
                    </div>
                  </div>
                  <div class="iu-tab-content-item tab-content-item-75">
                    <div class="iu-floating-image floating-image-75"></div>
                    <div class="iu-floating-image floating-image-76"></div>
                    <div class="iu-floating-image floating-image-77"></div>
                    <div class="iu-html html-78">
                      <div style="text-align:center;"> 바르셀로네타해변 </div>
                    </div>
                    <div class="iu-html html-79">
                      <div style="text-align:center;"> 구엘공원 </div>
                    </div>
                    <div class="iu-html html-80">
                      <div style="text-align:center;"> 사그라다파밀리아 </div>
                    </div>
                  </div>
                </div>
              </div>
              <form class="iu-pg-form pg-form" enctype="multipart/form-data" action="/1main" method="post">
                {% csrf_token %}
                <input class="iu-pg-button pg-button-67" type="submit" value="검색">
              </form>
            </div>
          </div>
        </section>
      </section>
    </div>
  </body>
</HTML>