<html>
<head>
	<title></title>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/resource/common/iu.css">
    <link rel="stylesheet" type="text/css" href="/static/resource/css/pages/index.css">
    <link rel="stylesheet" type="text/css" href="/static/resource/css/compositions/header.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat+Alternates:700,400|Montserrat:700" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="//cdn.iueditor.org/js/iueditor-2.1.js" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="iu-center-box center-box">
  <div class="iu-floating-image floating-image">
    <a class="iux-inner-link" href="/index">
    </a>
  </div>
  <button class="iu-pg-button pg-button" data-toggle="modal" data-target="#myModal">Logout</button>
  <div class="iu-fb-like fb-like">
  </div>
</div>
</body>
</html>