<!-- iuname : header -->
<div class="iu-center-box center-box">
  <div class="iu-text text-4"></div>
  <div class="iu-floating-image floating-image">
    <a class="iux-inner-link" href="/index">
    </a>
  </div>
  <input class="iu-pg-button pg-button" type="button" value="Sign In">
  <div class="iu-fb-like fb-like">
    <iframe src="//www.facebook.com/plugins/like.php?href=http://www.iueditor.org+&amp;width&amp;layout=standard&amp;action=like&amp;show_faces=true&amp;share=true&amp;colorscheme=light&amp;" scrolling="no" frameborder="0" allowTransparency="true" style="border:none;overflow:hidden;height:80px"></iframe>
  </div>
</div>